# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Environment variables
.env

# Pytest / coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Other
*.bak
*.swp
